<%= link_to product_path(product), class: 'product', 'data-turbo-frame': '_top' do %>
  <%= image_tag product.photo if product.photo.attached? %>
  <h2><%= product.title %></h2>
<% end %>
<span><%= product.price %>$</span>
